.container{
    width: 390px;
    height: 445px;
    background: rgb(0, 0, 0);
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    display: block;
   box-sizing: border-box;
}

.container:hover{
    transition: 800ms;
    transform: scale(110%);
    background-color: rgb(20, 20, 20);
}

.image{
    width: 100%;
    height: 65%;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: top;
    justify-content: right;
    border-end-end-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link{
    text-decoration: none;
    letter-spacing: .2px;
    line-height: 4;
    text-align: center;
    color: azure;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.details{
    display: flex;
    line-height: 1.5;
    justify-content: space-around;
    margin: 2%;
    font-size: 15px;
    font-weight: bold;
}


.topic{
    background-color: rgb(255, 255, 0);
    color: black;
    padding: 2%;
    border-radius: 10px;
}

.dificulty{
    background-color: rgb(255, 255, 0);
    color: black;
    padding: 2%;
    border-radius: 10px;
}