  .bodyAbout{
    background-color: black;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  }
  .title {
    color:yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 80px;
    margin-top: 1.5cm;
    text-align:center;
  }
  .parrafo{
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 1cm;
    margin-left: 1cm;
    text-align: center;
    
  }
  .containicon {
    float: left;
    width:16cm;
    height: 4.6cm;
    background-color: rgb(213, 141, 246);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }
  
  .containicon1 {
    width:16cm;
    float: right;
    height: 4.6cm;
    background-color: rgb(126, 126, 240);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }

  .containicon2 {
    width:16cm;
    float: right;
    height: 4.6cm;
    background-color: rgb(236, 137, 103);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }

  .containicon3 {
    width:16cm;
    float: left;
    height: 4.6cm;
    background-color: rgb(241, 106, 212);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }
  .containicon4 {
    width:16cm;
    float: left;
    height: 4.6cm;
    background-color: rgb(117, 243, 241);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }
  .containicon5 {
    width:16cm;
    float: right;
    height: 4.6cm;
    background-color: rgb(243, 182, 117);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }

  .containicon6 {
    width:16cm;
    float: right;
    height: 4.6cm;
    background-color: rgb(226, 218, 120);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }

  .containicon7 {
    width:16cm;
    float: left;
    height: 4.6cm;
    background-color: rgb(171, 211, 123);
    margin-top: 1cm;
    margin: 1cm;
    border-radius: 0.8cm;
  }
  
  
  .icon {
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }

  .bruno {
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }

  .pablo {
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }

  .manu {
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }
 
  .franco {
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }

  .nicole{
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }
  

  .abel{
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }


  .larry {
    width: 7%;
    margin: 14%;
    margin-right: -6cm;
    margin-left: 7cm;
    margin-bottom: 0%;
    margin-top: 2%;
  }

.nameBelen{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.nameBruno{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.nameAbel{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.nameFranco{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.nameManu{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.nameNicole{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.nameLarry{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}

.namePablo{
    font-size: 180%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -20%;
    margin-left: 15%;
}
.button {
  margin-left: 18cm;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #fbe839 0%, #fbe839 80%, #fbe839 100%);
  border-radius: 30px;
  border: 1px solid #353637;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0a0a0a;
  text-shadow: 0 1px #fff;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .contenedorimagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 14px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 400ms;
    margin-left: 3%;
  }
  
  .contenedorimagen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }

  .contenedorimagen:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  }