*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body{
    height: 100vh;
    padding: 10px;
}

.container{
  padding: 40px;
  border-radius: 10px;
  width: 900px;
  font-size: x-large;
}


.textarea {
    resize: none;
    height: 80px;
    width: 820px;

  }

  .button[type="submit"] {
    background-color: #8f8f8f;
    color: #0b0b0b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }

  .form{

        display: flex;
        flex-direction: column;
      }

      .form label {
        margin-bottom: 10px;

  }