.navbar{
    background-color: #f6f606;
    height: 2cm;
    
        
}
.btnhome{
    background-color: yellow;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    margin-top: -1.5cm ;
    margin-left: 23%;

}
.bthm{
    box-shadow: 0px 10px 14px -7px black;
	background:linear-gradient(to bottom, yellow , yellow 100%);
	background-color:yellow;
	border-radius:4px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#24241f;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e4eb0e;
    margin-top: cm;
}
.bthm:hover {
	background:linear-gradient(to bottom, yellow 5%, yellow 100%);
	background-color: yellow;
}
.bthm:active {
	position:relative;
	top:1px;
}

.dark{
    background-color: rgb(8, 8, 8);
}
.light{
    background-color: white;
}
