.cont {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-around;
}

@font-face {
  font-family: "I-pixel-u";
  src: url("../../styles/fonts/I-pixel-u.ttf") format("truetype");
}

.ttl {
  text-align: center;
  font-family: "I-pixel-u";
  letter-spacing: 10px;
}

.msg {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.textArea {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.textAreaS {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.imgcoin {
  width: 90px;
  height: auto;
}

.coin {
  width: 150px;
  height: 177px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.coin:hover {
  cursor: pointer;
  transition: 0.2s ease;
}

.mp {
  width: 125px;
  height: auto;
}
