.cont {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  width: 800px;
  height: 850px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@font-face {
  font-family: "I-pixel-u";
  src: url("../../styles/fonts/I-pixel-u.ttf") format("truetype");
}

.ttl {
  text-align: center;
  font-family: "I-pixel-u";
  font-size: 50px;
  letter-spacing: 10px;
}

.msg {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.textArea {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.textAreaS {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.coins {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.imgcoin {
  width: 150px;
  height: auto;
}

.coin {
  width: 200px;
  height: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.coin:hover {
  cursor: pointer;
  transition: 0.2s ease;
}

.mp {
  width: 125px;
  height: auto;
}
