.profile{
    color:aliceblue;
}

.img{
    margin-left: 45%;
    margin-top: 2cm;
    border-radius: 7px;
}

.name{
    margin-left: 43%;
    margin-top: 10px;
    border-radius: 7px;

}

.email{
    margin-left: 42%;
    margin-top: 10px;
    border-radius: 7px;
}