*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hmregister{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(105, 105, 84);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #0a0a0a;
    padding: 25px 30px;
    border-radius: 10px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;
    color: white;
}
.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #d8ea0a;
}
.container form .details{
    padding: 4px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 0);
    
}
.inputbox{
        width: 65%;
        
       
}
form .details .inputbox{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;
    
}

.inputbox input{
    height: 30px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #f5f2f2;
    padding-left: 10px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
   
    
    
}

.details .inputbox input:focus,
.details .inputbox input:valid{
    border-color: black;
}

.container .titler{
   color:rgb(250, 251, 249);
   font-size: 25px;
   
}
form .btn{
    height: 45px;
    margin: 45px;
}
form .btn input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #d8ea0a;
    cursor: pointer;

}
form .btn input:hover{
    background: #0a0a0a;
}

.container .titlec{
   font-size: 15px;
}
.input:focus:invalid

{

}