*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(5, 5, 5);
}
.container{
    max-width: 700px;
    width: 100%;
    background: hsl(0, 9%, 91%);
    padding: 25px 30px;
    border-radius: 10px;
    margin-top: 2cm;
}
.title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;
    color: rgb(5, 5, 5);
}

.title2{
    font-size: 10px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;
    color: rgb(5, 5, 5);
}

.title3{
    font-size: 8px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;
    color: rgb(5, 5, 5);
}

.inputName{
    font-size: 10px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;
    color: rgb(133, 132, 132);
}