.bodyHome{
    background-color: rgb(10, 10, 11);
}
.title1{
    color: rgb(249, 247, 244);
}
.title{
    color:rgb(248, 244, 244)
}
.btngame{
    border-radius: 15px;
    background-color: rgb(243, 239, 239);
}
.p1{
    background-color: rgb(245, 242, 240);
}
.p2{
    background-color: rgb(241, 248, 248);
}