.main{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.main button{
    color: black;
    background-color: rgb(255, 255, 0);
    padding: 4%;
    border-radius: 5px;
    font-weight: bold;

}

.title{
    color: rgb(202, 69, 255);
    font-size: 35px;
    font-weight: bold;

}