.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 15px;
}

.description{
    background: rgba(0, 0, 0, 0.774);
    padding: 10px;
    width: 370px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    margin: 0;
    color: yellow;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 80%;
    padding: 20px;
    background: rgba(255, 249, 65, 0.59);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
}

.imagen{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px dashed black
}

.palabra_a_adivinar{
    height: 40px;
}

.palabra_a_adivinar span{
    height: 40px;
    vertical-align: bottom;
    font-size: 30px;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block; /* sin esto, por ser un elemento de línea, no tomaría el width */
}

.letras{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;
}

.letras button{
    width: 28px;
    padding: 6px 0;
    text-align: center;
    border-radius: 20%;
}

.jugar{
    color: black;
    font-weight: bold;
    margin-top: 15px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: yellow;
    border: 5px  outset rgb(194, 194, 0)
}

[id="letra"]{
    border: 1px solid black;
    color: black;
}

.jugar:hover {
    background-color: rgb(220, 220, 0);
    border-style: inset;
}

*[disabled="true"]{
    background-color: rgb(202, 203, 203);
}

.error{
    background-color: rgba(201, 32, 32, 0.9);
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    width: 100%;
}
.win{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: rgba(6, 136, 27, 0.9);
    padding: 1%;
}
