.main{
    border:1px solid black;
    margin: 20px;
    width: 100%;
    padding: 20px;
    background-color: rgba(229, 221, 0, 0.7);
    color: black;
    border-radius: 10px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;

}

.head{
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cont{
    border:1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.692);

}

.html{
    border:1px solid black;
    margin: 10px;
    background: url(./img/html.png) rgba(255, 197, 89, 0.8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 10px;
    padding: 10px;

}

.css{
    border:1px solid black;
    margin: 10px;
    background: url(./img/css.png) rgba(136, 227, 255, 0.837);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 10px;
    padding: 10px;

}

.js{
    border:1px solid black;
    margin: 10px;
    background: url(./img/js.png) rgba(255, 255, 95, 0.8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 10px;
    padding: 10px;

}

.iframe{
    border:3px solid black;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
}