@font-face {
  font-family: "I-pixel-u";
  src: url("../../styles/fonts/I-pixel-u.ttf") format("truetype");
}

.title {
  font-size: 90px;
  font-family: "I-pixel-u";
  letter-spacing: 10px;
}

.title:hover {
  cursor: default;
}

.filters select {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.filters select:hover {
  cursor: pointer;
}

.filters button {
  width: 110%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.filtersContainer {
  width: "300px";
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 200ms;
  width: 110%;
}

.button:hover {
  transition: 200ms;
  cursor: pointer;
}

.errorcontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.create {
  width: 120px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.create:hover {
  cursor: pointer;
}
