.pages{
    margin: 3% 0;
    background-color: rgba(36, 36, 36, 0.548);
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: rgb(255, 255, 0);
    align-items: center;
    width: 400px;
    padding-right: 3%;
    border-radius: 5px;
}

.number{
    padding: 1%;
    font-size: 15px;
    transition: 200ms;
}

.number:hover{
    transition: 200ms;
    cursor: pointer;
    transform: scale(120%);
    
}
